services:
  - type: web
    name: chemical-equipment-visualizer
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "cd backend && gunicorn equipment_visualizer.wsgi:application"
    plan: free
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: NODE_VERSION
        value: 18.0.0
